// ---- color ----
$assetsPath:'./assets';
$primary-color: #7f0;
$btn-gradient-bg: linear-gradient(315deg,rgba(161,125,222,1) 0%,rgba(59,188,249,1) 100%)  ;
$btn-gradient-active-bg: linear-gradient(315deg, darken(#043d6a, 10%) 0%, darken(#3da6fc, 10%) 100%)  ;
//@import "~@nutui/nutui/dist/nutui.scss"; 这总方式run serve 控制台报错 三个img图片路径问题

@import '~@nutui/nutui/dist/styles/index.scss';
@import '~@nutui/nutui/dist/packages/button/button.scss';
a{
  background: #333;
}
